
html {
	background-color: navy;
	color: white;
	background-image: url("pic/wstbg.gif");
	background-repeat: no-repeat;
	background-position: center;
    background-attachment: fixed;
}

html,body {
	word-wrap: break-word;
	padding: 0;
	margin: 0;
	font-family: ui-sans-serif, sans-serif;
	font-size: 14px;
}
body {
    padding: 10px 20px;
    margin: 0;
}
code,pre,tt,kbd,samp {
	white-space: pre-wrap;
	word-wrap: break-word;
	tab-size: 31px;
	font-family: ui-monospace, Monaco, monospace;
	font-size: 14px;
}
code.ascii-pic,
pre.ascii-pic,
tt.ascii-pic,
kbd.ascii-pic,
samp.ascii-pic
{ font-size: 12px; }
hr { border-color: blue; }
ul li { color: white; }
a:link, a:visited {
	color: cyan;
	text-decoration: underline;
}
a:active, a:hover {
	color: lime;
	text-decoration: underline dotted;
}
*.hl { background-color: teal; }
dl { padding-bottom: 15px; }
dl dd { padding-bottom: 15px; }

* p#webmark { margin: 0; padding: 0; }
* p#webmark * { padding: 0 5px 0 0; margin: 0; }
* object * { font-size: 12px; padding: 0; margin: 0; }

object.quarequin-logo { width: 112px; height: 68px; }
object.sensorystar-icon { width: 64px; height: 64px; }

li.nomark {
	list-style: none;
	margin: 0;
	margin-left: -40px;
	padding: 0;
}

#nav {
	position: static;
	margin-left: 0px;
}
#nav li,
#nav li ul li { margin-bottom: 5px; }
#nav li ul {
	margin-left: 40px;
	padding-left: 20px;
}

#header,
#header tr td
{
	padding: 0;
	margin: 0;
}
#header { margin: 0;}
#header tr td object { margin: 6px 10px 6px 0; }
#header tr td.headef { padding-left: 5px; }

#footer {
	padding: 10px 0;
}
#footer object {
	padding: 0;
	margin: 0;
}
#footer object,
#footer object *
{ margin-top: 0px; }

@supports (image-rendering: pixelated) { html,body,img,object { image-rendering: pixelated; } }

@media only screen and (max-width: 500px) {
	#header tr td.headdef {
		display: block;
		padding: 2px 0 0 0;
		margin-top: 70px;
		margin-left: -123px;
	}
}

@media only screen and (min-width: 700px) {
	@supports (position: fixed) {
		body.has-nav {
			margin-left: 230px;
			background-position: 0 0;
		}
		*.gui-pc-hidden {
			position: absolute;
			margin: -32768px 0 0 -32768px;
		}
		#nav li.nomark { margin-left: 0; }
		#nav {
			padding: 17px 20px;
			margin: 0 0 0 0;
			width: 210px;
			position: fixed;
			top: 0;
			left: 0;
		}
		#nav li ul { margin-left: 0px; }
	}
	* p#webmark.has-obj { padding-left: 80px; }
	#footer object { margin-top: -49px; }
	html { align-items: center; }
	body { margin-top: 0px; }
}

*.no-ui {
	font-size: 0px;
	line-height: 0px;
	position: absolute;
	margin: -32768px 0 0 -32768px;
}
