
#aside { position: relative; }
#aside li,
#aside li ul li { margin-bottom: 5px; }
#aside { margin-bottom: 10px; }
#aside li ul li { padding-left: 10px; }

@media only screen and (min-width: 700px) {
	@supports (position: fixed) {
		#aside {
			padding: 30px 20px;
			margin: -12px 0 0 0;
			width: 208px;
			position: fixed;
			top: 0;
			left: 0;
		}
		#aside li { width: 208px; }
	}
}
