#aside {
	position: relative;
	margin: 10px 0;
}

#aside > * {
	margin: 4px 0;
}

#aside > ul > li {
	margin: -8px 0;
	margin-left: -40px;
	list-style: none;
}

#aside > hr {
	padding: 0 2px;
}

#aside p.opened { background-color: teal; }
#aside p.opened a:active { color: navy; }

@media only screen and (min-width: 700px) {
	#aside {
		width: 192px;
		margin: 5px 20px;
		margin-right: 0;
		float: left;
		text-align: left;
		position: fixed;
		top: 0;
		left: 0;
	}
}