
#aside { position: relative; }
#aside ul li,
#aside ul li ul li {
	list-style: none;
	margin: -5px 0;
	margin-left: -40px;
	padding: 0 16px;
}
#aside ul li ul { border-left: 2px solid teal; }
#aside ul li ul li { padding-right: 0; }
#aside hr { padding: 0; }

*.hl { background-color: teal; }
*.hl a:active { color: navy; }

@media only screen and (min-width: 700px) {
	@supports (position: fixed) {
		#aside {
			padding: 24px 20px;
			margin: -10px 0 0 0;
			width: 208px;
			position: fixed;
			top: 0;
			left: 0;
		}
		#aside ul li {
			width: 208px;
			margin: -7px 0 -7px -40px;
			padding: 0;
		}
	}
}
