
html,body {
	background-color: navy;
	color: white;
	word-wrap: break-word;
	padding: 0;
	margin: 0;
}
body { padding: 15px; margin: 0; }
hr { border-color: blue; }
code,pre,tt,kbd,samp {
	white-space: pre-wrap;
	word-wrap: break-word;
	tab-size: 31px;
}
a:link, a:visited {
	color: cyan;
	text-decoration: none;
}
a:active, a:hover {
	color: lime;
	text-decoration: underline;
}
dl { padding-bottom: 15px; }
dl dd { padding-bottom: 15px; }

@media only screen and (min-width: 700px) {
    body {
		margin: 0;
		padding: 14px 20px;
    }
}
