
html,body {
	word-wrap: break-word;
	/*word-break: warp-word;*/
	padding: 0;
	margin: 0;
}
body { padding: 15px; margin: 0; }
code,pre,tt,kbd,samp {
	white-space: pre-wrap;
	word-wrap: break-word;
	tab-size: 31px;
}
dl { padding-bottom: 15px; }
dl dd { padding-bottom: 15px; }

* p#webmark { margin: 0; padding: 0; }
* p#webmark * { padding: 0 5px 0 0; margin: 0; }
* object * { font-size: 12px; padding: 0; margin: 0; }

object.quarequin-logo { width: 112px; height: 68px; }
object.sensorystar-icon { width: 64px; height: 64px; }

li.nomark {
	list-style: none;
	margin: 0;
	margin-left: -40px;
	padding: 0;
}

@media only screen and (min-width: 700px) {
	@supports (position: fixed) {
		#aside li.nomark { margin-left: 0; }
	}
    body { margin-top: -4px; }
}
