
html,body {
	background-color: navy;
	color: white;
	word-wrap: break-word;
}
hr { border: 1px solid cyan; border-bottom: 0; }
code,pre,tt,kbd,samp {
	white-space: pre-wrap;
	word-wrap: break-word;
	tab-size: 31px;
}
a { color: cyan; }
a:visited { color: lime; }
a:active { color: teal; }

*>p#w3-valid>a { padding: 5px; margin: 5px; margin-left: -5px; }
*>object>* { font-size: 12px; padding: 0; margin: 0; }

#main { padding: 0 15px; margin: 0; }

#header { padding-top: 15px; }
#header>p { margin: 15px 0; }
#header>object {
	width: 140px;
	height: 80px;
	margin-right: 5px;
}

#footer {
	text-align: left;
	padding: 10px 0;
}
#footer>object {
	width: 120px;
	height: 120px;
}

@media only screen and (max-width: 699px) {
	#header>object { margin-bottom: 15px; }
}

@media only screen and (min-width: 700px) {
	#header>object {
		margin: 20px 5px;
		margin-left: 0;
		margin-top: 0;
	}
	*.gui-pc-hidden {
		position: absolute;
		margin: -32768px 0 0 -32768px;
	}
	#main {
		margin: 0 -5px 0 240px;
		padding: 0 20px;
		border-left: 1px solid cyan;
	}
	#footer>object,
	#footer>object>*
	{ margin-top: -52px; }
	*>p#w3-valid { padding: 0 0 0 140px; }
}
