
html,body {
	background-color: navy;
	color: white;
	word-wrap: break-word;
	padding: 0;
	margin: 0;
}
body { padding: 15px; margin: 0; }
hr { border-color: blue; }
code,pre,tt,kbd,samp {
	white-space: pre-wrap;
	word-wrap: break-word;
	tab-size: 31px;
}
a:link, a:visited {
	color: cyan;
	text-decoration: none;
}
a:active, a:hover {
	color: lime;
	text-decoration: underline;
}
dl { padding-bottom: 15px; }
dl dd { padding-bottom: 15px; }

* p#webmark { margin: 0; padding: 0; }
* p#webmark * { padding: 0 5px 0 0; margin: 0; }
* object * { font-size: 12px; padding: 0; margin: 0; }

object.quarequin-logo { width: 112px; height: 68px; }
object.sensorystar-icon { width: 64px; height: 64px; }
table tr td.logo-left { padding-right: 10px; }

#header { padding: 0; margin: 0; }
#header p { margin: 15px 0; }
#header object { margin-right: 5px; }

#footer {
	padding: 10px 0;
	vertical-align: bottom;
}
#footer object {
	padding: 0;
	margin: 0;
}
#footer object,
#footer object *
{ margin-top: 0px; }

@media only screen and (min-width: 700px) {
    body {
		margin: 0;
		padding: 14px 20px;
	}
	@supports (position: fixed) {
		*.gui-pc-hidden {
			position: absolute;
			margin: -32768px 0 0 -32768px;
		}
		body.has-nav { padding: 14px 20px 14px 250px; }
	}
	table tr td.logo-left { padding-right: 15px; }
	* p#webmark.has-obj { padding-left: 80px; }
	#footer object { margin-top: -49px; }
}
